<!DOCTYPE html>
<html ng-app="auSnow" lang="en">
  <head>
    <title>au-snow</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" />
    <link href="au-snow.css" rel="stylesheet" />
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular-touch.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"></script>
    <script src="au-snow.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-6746222-5', 'auto');
      ga('send', 'pageview');
    </script>
  </head>
  <body ng-controller="SnowController as snow">
    <section stop-screen-move>
      <div class="btn-toolbar" ng-show="snow.year">
        <ul id="states" class="btn-group btn-group-sm">
          <li class="btn btn-default" ng-repeat="state in snow.states" ng-class="{ active: state == snow.state }" ng-click="snow.setState(state)">
            {{ state | uppercase }}
          </li>
        </ul>
        <div id="years" class="dropdown btn-group btn-group-sm">
          <button class="btn btn-default disabled" type="button">
            {{ snow.year }}
          </button>
          <button class="btn btn-default dropdown-toggle" type="button">
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li ng-repeat="year in snow.years" ng-class="{ active: year == snow.year }">
              <a tabindex="-1" href dropdown-toggle ng-click="snow.setYear(year)">
                {{ year }}
              </a>
            </li>
          </ul>
        </div>
        <ul id="overlays" class="btn-group btn-group-sm" ng-if="snow.overlays.length > 0">
          <li class="btn btn-default" ng-repeat="overlay in snow.overlays" ng-class="{ active: overlay.active }" ng-click="overlay.active = !overlay.active">
            {{ overlay.name }}
          </li>
        </ul>
        <div id="greatest-hits" class="dropdown btn-group btn-group-sm" ng-if="snow.greatestHits.length > 0">
          <button class="btn btn-default disabled" type="button">
            notable
          </button>
          <button class="btn btn-default dropdown-toggle" type="button">
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li ng-repeat="hit in snow.greatestHits">
              <a tabindex="-1" href dropdown-toggle ng-click="snow.goTo(hit)">
                {{ hit.date.getFullYear() }}: {{ hit.description }}
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div ng-if="snow.photo">
        <div id="photo" ng-style="{ 'background-image': 'url('+snow.photo.url+')', width: snow.photo.width+'px', height: snow.photo.height+'px' }" ng-swipe-left="snow.next()" ng-swipe-right="snow.prev()">
          <div class="overlay" ng-repeat="overlay in snow.overlays" ng-style="{ 'background-image': 'url('+overlay.url+')' }" ng-show="overlay.active">
          </div>
          <div class="overlay spinner" ng-show="snow.loading"></div>
          <div id="permalink">
            <a class="badge pull-right" ng-href="{{ snow.photo.permalink }}">
              <span class="glyphicon glyphicon-link"></span>
            </a>
          </div>
          <div id="info">
            <span class="badge pull-left">
              {{ snow.photo.date | date:'MMMM d' }}<sup>{{ snow.photo.date | date:'d' | ordinalIndicator }}</sup>
            </span>
            <span class="badge pull-right">
              {{ snow.photo.satellite == 'terra' ? 'AM' : 'PM' }}
            </span>
          </div>
        </div>
        <ul id="photos" class="pagination" ng-class="'count-' + snow.countBy(25)">
          <li ng-repeat="photo in snow.photos track by $index" ng-class="{ active: photo == snow.photo, disabled: !photo }" ng-mouseenter="snow.photo = photo || snow.photo" ng-click="snow.photo = photo || snow.photo"><a></a></li>
        </ul>
        <ul id="arrows" class="pagination">
          <li ng-click="snow.prev()" ng-class="{ disabled: snow.isFirst() }"><a></a></li>
          <li ng-click="snow.next()" ng-class="{ disabled: snow.isLast() }"><a></a></li>
        </ul>
      </div>
      <footer ng-show="snow.year">
        Imagery by <a href="http://lance-modis.eosdis.nasa.gov/imagery/subsets/?area=global">MODIS</a>,
        hosting by <a href="https://www.flickr.com">Flickr</a> &amp; <a href="https://github.com">GitHub</a>,
        code by <a href="https://github.com/mholling/au-snow/tree/gh-pages">Matthew Hollingworth</a>.
      </footer>
      <div id="startup" ng-if="!snow.year">
        <div class="spinner"></div>
        <div>
          Loading &ndash; please wait &hellip;
        </div>
      </div>
    </section>
  </body>
</html>
